<form method="post" action="">
    {% csrf_token %}
    <h3>Detail : {{ instance.name }}</h3>
  <h3>Name : {{ instance.house_no }}</h3>
  <h3>House name : {{ instance.house_name }}</h3>
  <h3>Address : {{ instance.address }}</h3>
    <input type="text" name="survey_desc" placeholder="description" required="True"><br>
    <input type="text" name="estimated_loss" placeholder="estimated loss" required="True"><br>
    <button type="submit">Register</button>
  </form>
  <p><a href="/logoutUser/">LOGOUT</a></p>